<h1>ALL RECIPES</h1>

<% if @recipes.any?%>
  <% @recipes.each do |recipe| %>
    <h2><%= link_to recipe.title, recipes_show_path(recipe) %></h2>
    <img src="<%= recipe.image %>" height = 200px>

  <% end %>
    </br>
  <%= link_to "View More recipes", recipes_path %>
  <% else %>
    There aren't any recipes yet.
    <%= link_to "Add one.", recipes_new_path %>
<% end %>
