<h2>Edit Ingredient</h2>

<%= form_for @ingredient, url: {action: "update"} do |ingredient| %>
  <div class="form-group">
    <label>Name</label>
    <%= ingredient.text_field :name, class: "form-control" %>
  </div>
  <%= ingredient.submit "Save", class: "btn btn-default" %>
  <%= link_to "Delete", ingredients_destroy_path(@ingredient), class: "btn btn-danger" %><br>

<% end %>
