ING SHOW


<h4><%= @ingredient.name %></h4>

<%= @ingredient.preparation %>

<%= link_to "Edit", recipes_edit_path(@recipe), class:"btn btn-default" %> &nbsp
<%= link_to "DELETE", recipes_destroy_path(@recipe), class: "btn btn-danger" %>
